[rtv]
# username=MyUsername
# password=MySecretPassword

# Log file location
log=/tmp/rtv.log

# Default subreddit
# subreddit=Archlinux

# Default submission link - will be opened every time the program starts
# link=http://www.reddit.com/r/CollegeBasketball/comments/31irjq

# Turn on ascii-only mode and disable all unicode characters
# This may be necessary for compatibility with some terminal browsers
ascii=True
