/* Auto-hide Bookmarks Toolbar */

/* #PersonalToolbar { */
/*     visibility: collapse !important; */
/* } */

/* #navigator-toolbox:hover > #PersonalToolbar { */
/*     visibility: visible !important; */
/* } */

/* #main-window[tabsintitlebar] #navigator-toolbox > toolbar:not(#toolbar-menubar):not(#TabsToolbar):-moz-lwtheme { */
/*   -moz-window-dragging: no-drag; */
/* } */

/* #PersonalToolbar { */
/*     opacity:0 !important; */
/*     margin-top: -23px !important; */
/*     transition: all 0.4s ease 0s !important; */
/* } */

/* #navigator-toolbox:hover > #PersonalToolbar { */
/*     visibility: visible !important; */
/*     margin-top: 0px !important; */
/*     transition: all 0.4s ease 0s !important; */
/*     opacity: 1 !important; */
/* } */

/*
 *  NOTE: While this works, the bookmarks are hidden on startup.
 *    To get them to show again, after startup toggle the 'Bookmarks Menu' in the
 *    Toolbar.
 */
#PersonalToolbar:not([customizing]){
  margin-top: calc(-1 * (var(--toolbarbutton-inner-padding) + 15px));
  transition: margin-top 0.25s !important;
}
#navigator-toolbox:hover #PersonalToolbar,
#toolbar-menubar:not([inactive="true"]) ~ #PersonalToolbar {
  margin-top: 0px !important;
}
