/* No Text on Tabs */
.tab-label {
  display: none !important;
}
.tabbrowser-tab[fadein=true] {
  max-width: 45px !important;
  min-width: 45px !important;
}
#TabsToolbar #tabbrowser-tabs .tabbrowser-tab .tab-close-button {
  visibility: none !important;
}
