/* Thumping Sound icon for tab that has sound playing */
.tab-icon-sound[soundplaying]{
  color: white !important;
  animation: thump .47s linear infinite;
}
@keyframes thump {
  30%,90% {
    margin-top: 8px;
  }
}
.tab-icon-sound[muted]{
  color: gray !important;
  animation: none;
}
